---
name: Build
run-name: Build
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
on:
  - push
jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Update package repo
        run:
          sudo apt-get update -qq
      - name: Install dependencies
        uses: daaku/gh-action-apt-install@v4
        with:
          # Copied from cute_framework
          packages: gcc-multilib libasound2-dev libpulse-dev libglfw3 libglfw3-dev libx11-dev libxcursor-dev libxrandr-dev libxinerama-dev libxi-dev libxext-dev libxfixes-dev libgtk-3-dev
      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v2
        with:
          version: "18.1"
          cached: true
      - name: Setup mold
        uses: rui314/setup-mold@v1
        with:
          mold-version: 2.37.1
      - name: Setup ccache
        uses: hendrikmuhs/ccache-action@v1.2
      - name: Build
        run: |
          ./build
  build-web:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Setup emscripten
        uses: mymindstorm/setup-emsdk@v14
        with:
          version: '4.0.22'
      - name: Build
        run: |
          ./build-web
          mv bin/RelWithDebInfo/cute-shaper.html bin/RelWithDebInfo/index.html
      - name: Upload static files as artifact
        id: deployment
        uses: actions/upload-pages-artifact@v3 # or specific "vX.X.X" version tag for this action
        with:
          path: bin/RelWithDebInfo/
  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Generate project
        run: .\msvc.bat
      - name: Build
        shell: cmd
        run: |
          for /f "usebackq tokens=*" %%i in (`cmake\vswhere -latest -prerelease -property installationPath`) do (
            set VS_DIR=%%i
          )
          call "%VS_DIR%\VC\Auxiliary\Build\vcvarsall.bat" x64 10.0.22621.0
          cd msvc
          msbuild cute-shaper.sln /property:Configuration=RelWithDebInfo /property:Platform=x64
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build-web
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
